@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #92b5cc;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.add{
    background-color: #9ec862;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.note{
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.note .tools{
    background-color: #9ec862;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note .main{
    background-color: #eee;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.note textarea{
    font-family: inherit;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.note .hidden{
    display: none;
}