@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*:focus{
    outline: 0;
}

html,body{
    height: 100%;
}

body{
    background: #eaedf5;
    
}

.feedback-modal{
    width: 567px;
    background: #fff;
    border-radius: 15px;
    padding: 105px 80px 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
    max-height: 100%;
}

.feedback-modal .modal-close-btn{
    position: absolute;
    top: 25px;
    right: 25px;
    background: #eaedf5;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-modal h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.feedback-modal .feedback-form >li{
    margin-bottom: 50px;
}

.feedback-modal ul li:last-child{
    margin-bottom: 0;
}

.feedback-modal .feedback-form >li ul{
    padding-top: 24px;
    display: flex;
}

.feedback-modal .feedback-form >li .title{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    display: block;
}

.feedback-modal .feedback-form >li textarea{
    height: 150px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a9b2ca;
    resize: none;
    padding: 20px;
    font-size: 16px;
}

.feedback-modal .feedback-form >li textarea:focus{
    border-color: #3b70ff;
}

.feedback-modal .feedback-form >li .radio-group{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.feedback-modal .feedback-form >li .radio-group .radio-btn{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid #a9b2ca;
    min-width: 27px;
    margin-right: 15px;
    position: relative;
}

.feedback-modal .feedback-form >li .radio-group .radio-btn::before{
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #3b70ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:none;
}

.feedback-modal .feedback-form >li .radio-group .radio-text{
    font-size: 16px;
}

.feedback-modal .feedback-form >li .radio-group .radio{
    display: flex;
    align-items: center;
    margin-right: 45px;
    cursor: pointer;
}

.feedback-modal .feedback-form >li .radio-group .radio:last-child{
    margin-right: 0;
}

.feedback-modal .feedback-form >li .radio-group .radio input{
    display: none;
}

.feedback-modal .feedback-form >li .radio-group .radio input:checked +.radio-btn::before{
    display: block;
}

.feedback-modal .feedback-form >li .title.no-bold{
    font-weight: normal;
}

.feedback-modal .feedback-form >li ul li label{
    cursor: pointer;
}

.feedback-modal .feedback-form >li ul li label input{
    display: none;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box{
    background: #eaedf5;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box .face-bg{
    fill: #ffba44;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box .face-bg.rank1{
    fill: #ff4444;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box .face-bg.rank2{
    fill: #ff7f44;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box .face-bg.rank4{
    fill: #cdff44;
}

.feedback-modal .feedback-form >li ul li label input:checked +.box .face-bg.rank5{
    fill: #7ae91a;
}

.feedback-modal .feedback-form >li ul li label .box{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-modal .feedback-form >li .actions{
    display: flex;
    justify-content: space-between;
}

.feedback-modal .feedback-form >li .actions button{
    width: 49%;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #a9b2ca;
    background: transparent;
    font-size: 18px;
    color: #717b94;
    font-weight: 700;
    cursor: pointer;
}

.feedback-modal .feedback-form >li .actions button[type="submit"]{
    background: #3b70ff;
    color: #fff;
    border-color: #3b70ff;
}





