*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

*:focus{
    outline: 0;
}

body{
    background: #F7F8FC;
    display: grid;
    place-items: center;
    height: 100vh;
}

.component-trial-box{
    background: #fff;
    box-shadow: 0 28px 30px -12px #E9ECF9;
    padding: 55px 45px;
    border-radius: 5px;
    width: 566px;
}

.component-trial-box h3{
    font-size: 22px;
    font-weight: bold;
    color: #10182f;
    margin-bottom: 25px;
}

.component-trial-box .credit{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.component-trial-box p{
    font-size: 16px;
    line-height: 22px;
    color: #10182F;
    margin-bottom: 40px;
}

.component-trial-box .action{
    display: flex;
}

.component-trial-box .action a{
    margin-right: 15px;
    height: 43px;
    border: 2px solid #DAE1F5;
    border-radius: 43px;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 16px;
    font-weight: bold;
    color: #10182f;
    transition: 300ms all;
}

.component-trial-box .action a:hover{
    border-color: #345ace;
    color: #345ACE;
}

.component-trial-box .action a.active{
    background: #10182f;
    color: #fff;
}

.component-trial-box .action a.active:hover{
    border-color: #345ace;
    background: #345ACE;
}

.circle-bar{
    width: 72px;
    height: 72px;
    transform: rotate(-90deg);
    margin-right: 20px;
}

.amount{
    font-size: 26px;
    font-weight: bold;
    color: #10182f;
}

.text{
    font-size: 16px;
    color: #545d7a;
}

.circle-bar svg{
    --circum:calc(2 * 3.14 * 33.5);
    /*--offset:calc(var(--circum) - var(--circum) * 60 / 100); */
}

.circle-bar svg circle {
    fill: none;
    stroke-width: 5;
    stroke:#DAE1F5;
    stroke-dasharray: var(--circum);
    stroke-dashoffset: var(--circum);
    stroke-linecap: round;
    
}

.circle-bar svg circle:nth-child(1){
    stroke-dashoffset: 0;
}

.circle-bar svg circle:nth-child(2){
    stroke:#345ACE;
    animation: 1s animateOffset;
}

@keyframes animateOffset{
    to{
        stroke-dashoffset: var(--offset);
    }
}
